body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dropdown-toggle{
  border-color:black;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-menu{
  width: 85%;
  height: 169%;
}
/*  step button css */
.step-1{
   width: 45px;
     height: 45px;
     border-radius: 50%;
     border: 3px solid white;
     color: white;
     background: #34C36D ;
}
.step-2{

}

/* card css */

.del{
  position: absolute;
  top:-11px;
  right:-13px;
  border-radius: 50%;
  
}

.divp{
  margin-top:20px;
   margin-left: 150px;
}
#on{
  margin-left: -12px;
  margin-top:3px;
  
}

#outer-circle {
 
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: relative;
  
 
}
#inner-circle {
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin:2px 3px 4px 2px;
  
}

#on1{
  margin-left: -12px;
  margin-top:3px;
  
}

#outer-circle1 {
 
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: relative;
  
 
}
#inner-circle1 {
  position: absolute;

  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin:2px 3px 4px 2px;
  
}